:root.theme-dark {
  --bg-img: url("../images/cover-image-dark.png");
  --main-color: #FF0070;
  --title-color: #DB00FF;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --subtitle-color: #000028;
  --title-section-color: #FF0070;
  --shadow-color: #000;
  --boder-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .decorated_text {
  display: block;
}
