:root.theme-light {
  --bg-img: url("../images/cover-image-light.png");
  --main-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --bg-color: #ffeef6;
  --subtitle-color: #353430;
  --title-section-color: #353430;
  --accent-color: #FF0070;
  --shadow-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-img: url("../images/cover-image-light.png");
  --main-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --bg-color: #FFC2E6;
  --subtitle-color: #353430;
  --title-section-color: #353430;
  --accent-color: #FF0070;
  --shadow-color: transparent;
  }
  .decorated_text {
    display: none;
}
}

.theme-light .decorated_text {
  display: none;
}

